@import url('https://fonts.cdnfonts.com/css/tt-norms-pro');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

html,
body {
  min-height: 100%;
}

img {
  max-width: 100%;
}

body {
  padding: 0;
  margin: 0;
}

body {
  scroll-behavior: smooth;
  line-height: 1.5;
  min-width: 320px;
  font-family: 'TT Norms Pro';
}

@media (max-width: 850px) {
  .hidden {
    overflow: hidden;
  }
}

ul,
ol {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
  display: block;
}

button {
  padding: 0;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

::selection {
  background: #c471bd; 
  color: #fff; 
}

:root {
scroll-behavior: smooth;
}