$blue: #235984;
$darkBlue: #191919;
$lightGray: #C8C8C8;
$darkblueTwo: rgba(35, 89, 132, 0.08);
$black: black;
$lightBlue: #E9EFF3;
$brown: #4B4B4B;
$green: #237284;
$white: white;
$gray: #737373;
$balackTwo: #1E1E1E;
$grayTwo: #8C8C8C;
$grayThree: #5B5B5B;
$footer: rgba(208, 233, 255, 0.20);
$telFooter: #152D53;
$menuFooter: #666;
$catalog: #635B5B;
$catalogB: #F1F1F1;