.catalog { 
    padding-top: 60px;
    visibility: hidden;
    opacity: 0;
    transition: all .2s ease-in-out;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: calc(100vh - 180px);
    background: $catalogB;
    z-index: 5000;
    overflow: hidden;

    transform: translateY(100px);

        @media (max-width: 850px) {
            display: none;
        }

        &__title-menu {
            margin-bottom: 40px;
            color: $balackTwo;
            font-family: 'Comfortaa';
            font-size: 26px;
            font-weight: 500;
            line-height: 147%;
            text-transform: uppercase;
        }

        &__content {
            display: flex;
            gap: 157px;
        }

        &__menu {
            position: relative;
            padding-right: 84px;
            max-width: 237px;
            height: 85vh;
     
            border-radius: 5px;
            z-index: 2;

                 ul {
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                 }

                 &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: 100vw;
                    height: 100vh;
                    background-color: #E9EFF3;
                    z-index: -1;
                 }
        }

        &__list {
            display: flex;
            flex-wrap: wrap;
            gap: 50px 52px;

            width: 940px;

                @media(max-width: 1300px) {
                    flex-direction: column;
                    flex-wrap: nowrap;
                    height: 200px;
                    overflow: auto;

                    &::-webkit-scrollbar {
                        width: 0px;
                      }

                }
           
            a {
                color: $grayThree;
                font-size: 18px;
                font-weight: 400;
                line-height: 147%; 
                word-wrap: break-word;
                transition: color .5s ease-in-out;

                    &:hover {
                        color: $green;
                    }
            }

            li {
                max-width: 244px;
                &:nth-child(2) {
                    max-width: 202px;
                }
                &:nth-child(3) {
                    max-width: 147px;
                }
                &:nth-child(6) {
                    max-width: 202px;
                }
                &:last-child {
                    a {
                        color: $blue;
                        
                            &:hover {
                                color: $green;
                            }
                    }
                }
            }
        }

        &__href {
            display: inline-flex;
            align-items: center;
            gap: 10px;
            color: $catalog;

            font-family: 'Comfortaa';
            font-size: 20px;
            font-weight: 500;
            line-height: 147%; 

        }

        &__title {
            margin-bottom: 84px;
            color: #1E1E1E;
            font-family: 'Comforta'a;
            font-size: 20px;
            font-weight: 500;
            line-height: 147%;
            text-transform: uppercase;
        }

        // close catalog 

        &__close {
            position: absolute;
            top: 47px;
            right: 150px;
            padding: 20px;
            background-color: $white;
            border: 0;
            border-radius: 100px;

            transition: all .5s ease-in-out;

                &::after {
                    content: '';
                    display: block;
                    background: url('../img/close.svg') no-repeat;
                    width: 24px;
                    height: 24px;
                }

                &:hover {
                    background-color: rgb(212, 218, 229);
                }
        }
}


.activeK {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.activeM .catalog__href {
    color: $blue;
}

.acriveC {
    height: calc(100vh - 95px);
}